body {
    background-color: #f2f1f1;
}

.info {
    font-size: 10pt;
    color: #85817e;
}

.info .order-lg-1
{
   margin: 1em;
}

.logo {
    max-width: 400px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    display: block;
}

.bottom-links a {
    margin-right: 0.5em;
}

nav li
{
  list-style: none;
  display: inline-block;
}

#content {
  position:relative;
}